<!DOCTYPE html>
<html>
<head>
    <title><%= siteName %></title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_2610599_arob4wtfsdm.css">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_1736178_kmeydafke9r.css">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_1749284_ba1fz6golrf.css">
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12/lib/typed.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/anchor-js@4.3.1/anchor.min.js"></script>
    <style type="text/css" data-typed-js-css="true">
        .typed-cursor{
          opacity: 1;
        }

        .typed-cursor.typed-cursor--blink{
            animation: typedjsBlink 0.6s infinite;
            -webkit-animation: typedjsBlink 0.6s infinite;
            animation: typedjsBlink 0.6s infinite;
        }
        
        @keyframes typedjsBlink{
          50% { opacity: 0.0; }
        }
        @-webkit-keyframes typedjsBlink{
          0% { opacity: 1; }
          50% { opacity: 0.0; }
          100% { opacity: 1; }
        }
    </style>
    <script>
        function typed(){
            var text = "<%= siteName %>";
            var typed = new window.Typed('#subtitle', {
                strings: [
                    '  ',
                    text + '&nbsp;'
                ],
                cursorChar: '_',
                typeSpeed : 50,
                loop      : false
            });
            typed.stop();
            var subtitle = document.getElementById('subtitle');
            if (subtitle) {
                subtitle.innerText = '';
            }
            jQuery(document).ready(function() {
                jQuery('.typed-cursor').addClass('subtitle');
                typed.start();
            });
        };
    </script>
</head>
<body onload="typed();">
<div class="fullscreen-bg">
    <video loop muted autoplay class="fullscreen-bg-video">
        <source src="/background.webm" type="video/webm">
    </video>
    <header style="height: 80vh;">
        <nav>
            <div class="container header-container">
                <a class="nav-brand" href="/"><%= siteName %></a>
                <div class="nav-collapse">
                    <ul class="nav-bar text-center">
                        <li class="nav-item">
                            <a class="nav-link" href="/">
                                <i class="iconfont icon-home-fill"></i>
                                Home
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/about">
                                <i class="iconfont icon-user-fill"></i>
                                About
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/admin">
                                <i class="iconfont icon-bug"></i>
                                Management
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="background text-center">
            <span class="subtitle" id="subtitle"></span>
        </div>
    </header>

    <main>
        <div class="container">
            <% posts.forEach(function(post) {%>
            <div class="index-card">
                <article>
                    <h1 class="post-title"><a href="/post/<%= post.id %>" target="_self"><%= post.title %></a></h1>
                    <p class="post-description"><a href="/post/<%= post.id %>" target="_self"><%= post.description %></a></p>
                    <div class="post-metas">
                        <div class="post-meta">
                            <i class="iconfont icon-date"></i>
                            <%= post.date %>
                        </div>
                        <% if (post.category) { %>
                        <div class="post-meta mr-3">
                            <i class="iconfont icon-category"></i>
                            <%= post.category %>
                        </div>
                        <% } %>
                        <% if (post.tags) { %>
                        <% post.tags.forEach(function(tag){ %>
                        <div class="post-meta">
                            <i class="iconfont icon-tags"></i>
                            <%= tag %>
                        </div>
                        <% });} %>
                    </div>
                </article>
            </div>
            <% }); %>
        </div>
    </main>
</div>
<footer>
    <div class="footer-content text-center">
        Powered by
        <a href="<%= url %>" target="_blank">
            <span><%= name %></span>
        </a>
        . Made with
        <i class="iconfont icon-love"></i>
        .
    </div>
</footer>
</body>
</html>
